@{
    ViewData["Title"] = "Perfil";
}   
    <link rel="stylesheet" href="~/css/stylePerfil.css"/>
        <header class="header">
            <div class="menu">
                <ul>
                    <a href="#"><img src="img/Instadev.png" alt="Logo"></a>
                    <form class="pesquisa">
                        <input type="search" placeholder="             Pesquisar">
                    </form>
                    <div class="botoes">
                        <a href="#"><img src="img/Vector.png" alt="Home"></a>
                        <a href="#"><img src="img/plane 1.png" alt="Plane"></a>
                        <a href="#"><img src="img/compass 1.png" alt="Compass"></a>
                        <a href="#"><img src="img/Vector (1).png" alt="Heart"></a>
                        <a href="#"><img src="img/thank-you 1.png" alt="Perfil"></a>
                    </div>
                </ul>
            </div>
        </header>
        <!-- Fim do Header -->
        <nav class="perfil">
            <section class="bloco-perfil">
                <ul>
                    <img class="imagem-perfil" src="img/thank-you 3PerfilGrande.png" alt="Imagem do Perfil">   
                    <div class="info">
                        <div class="topper">
                            <h2>yes_baby</h2>
                            <a href="#">Editar Perfil</a>
                        </div>
                        <div class="quantia">
                            <p>0 publicações</p>
                            <p>128 seguindo</p>
                            <p>214 seguidores</p>
                        </div>
                        <div class="hbotao">
                            <h4>Marcos Jeeves</h4>
                            <a href="#">Sair</a>
                        </div>
                    </div>
                </ul> 
            </section>
        </nav>
        <!-- Fim do Perfil exibido -->
        <div class="pubs">
            <div class="publicacao">
                <img src="img/image 1caixa.png" alt="Caixa Pub">
                <h3>PUBLICAÇÕES</h3>
            </div>
        </div>
        <section class="posts">
            <section class="area">
                @foreach (var Publicacao in ViewBag.ListaPubs)
                {
                    <div class="post-card">
                    <img src="~/img/@Publicacao.Imagem" alt="Post img">
                    <div class="coment-part">
                        <div class="perfil-coment">
                            <img src="img/thank-you 4perfilMedio.png" alt="Perfil">
                            <div class="nom">
                                <h3>Marcos Jeeves</h3>
                                <p>Rio de Janeiro, Brazil</p> 
                            </div>7
                        </div>
                        <div class="icons-coment">
                            <a href="#"><img src="img/Vector (1).png" alt="Heart"></a>
                            <a href="#"><img src="img/Vectorchat.png" alt="Chat"></a>
                        </div>
                        <div class="curtida">
                            <p> @Publicacao.NumeroLikes curtidas</p>
                        </div>
                        <div class="coments">
                            <div class="chat1">
                                <h3>fausto_silva</h3>
                                <p>Esse cara é fera bixo!!!</p>
                                <a href="#"><img src="img/Vectorsmall heart.png" alt="Heart"></a>
                            </div>
                            <div class="chat2">
                                <h3>yes_baby</h3>
                                <p>thank you</p>
                                <a href="#"><img src="img/Vectorsmall heart.png" alt="Heart"></a>
                            </div>
                            <div class="chat3">
                                <h3>adriano_stark</h3>
                                <p>Quando eu adormecer, vou sonhar com você. <br> É sempre você. </p>
                                <a href="#"><img src="img/Vectorsmall heart.png" alt="Heart"></a>
                            </div>
                            <div class="chat4">
                                <h3>yes_baby</h3>
                                <p>Yes baby!!</p>
                                <a href="#"><img src="img/Vectorsmall heart.png" alt="Heart"></a>
                            </div>
                            <div class="mais-coments">
                                <a href="#">Ver todos os 585 comentários</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="espaco"></div>
                }
            </section>
        </section>