@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/styleLogin.css">

<div class="retangulo1">
    <div class="instadev">
        <img src="~/img/Instadev.svg" alt="">
    </div>
    <form method="POST" action='@Url.Action("Logar")' enctype="multipart/form-data">
        <input type="text" name="Email" placeholder="Email ou Nome de Usuario" required>
        <input type="password" name="Senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
        <div class="erro">@TempData.Peek("Mensagem")</div>
    </form>

    <div class="lines">
        <div class="line"></div>
        <p>OU</p>
        <div class="line"></div>
    </div>

        <div class="esqueceuasenha">
            <a href="#">Esqueceu a Senha ?</a>
        </div>
</div> 
<div class="retangulo2">   
    <div>
        <p>Não tem uma conta? <a asp-area="" asp-controller="Cadastro" asp-action="Index">Cadastre-se</a></p>
        
    </div>
</div>

<div class="retangulo3">
    <p>Obtenha o aplicativo.</p>
    <div>
        <img src="~/img/app_store 1.svg" alt="App_store">
        <img src="~/img/google_play 1.svg" alt="google_play">
    </div>
</div>