@{
    ViewData["Title"] = "Cadastrar";
}
<link rel="stylesheet" href="~/css/styleCadastrar.css">

<main>
    <section class="form-section"> 
        
        <div class="box-main">
            <img src="~/img/Instadev.svg" alt="" class="Title">
            <div class="pre-form">
                <p>Cadastre-se para ver fotos e</p>
                <p>vídeos dos seus amigos.</p>
            </div>

            <form method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data"> 
                
                
                <div class="register">
                    <input type="email" id="cadastro-email" name="Email" placeholder="Email" class="input" required> 
                </div>

                <div class="register">
                    <input type="text" id="cadastro-nome" name="NomeCompleto" placeholder="Nome Completo" class="input" required> 
                </div>

                <div class="register">
                    <input type="text" id="cadastro-nick" name="NomeUsuario" placeholder="Nome de Usuario" class="input" required> 
                </div>
                
                <div class="register">
                    <input type="password" id="cadastro-senha" name="Senha" placeholder="Senha" class="input" required> 
                </div>
                

                
                <button class="register-btn">Cadastre-se</button>
                

            </form>

            <div class="pos-form">
                <p>Ao se cadastrar, você concorda com nossos</p>
                <p><a href="">Termos</a>,&nbsp<a href="">Política de Dados</a>&nbspe&nbsp<a href="">Política de Cookies</a>.</p>
            </div>
        </div>

        <section class="extra-section">
            <div class="connect">
                <p>Tem uma conta?&nbsp<a asp-area="" asp-controller="Login" asp-action="Index">Conecte-se</a></p>
            </div>

            <div class="app">
                <p>Obtenha o aplicativo.</p>
                <div class="images-app">
                    <a href="https://apps.apple.com/br/app/instagram/id389801252"><img src="img/app_store 1.png" alt="Obter o aplicativo pela App Store"></a> 
                    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=pt_BR&gl=US"><img src="img/google_play 1.png" alt="Obter o aplicativo pela Google Play"></a>
                </div>
            </div>
        </section>
        
    </section>
</main>