@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap%27');

.retangulo1 {
position: absolute;
width: 342px;
height: 380px;
left: 620px;
top: 162px;

background: grey;
border: 1px solid #000000;
box-sizing: border-box;
}

.retangulo2{
position: absolute;
width: 342px;
height: 75px;
left: 789px;
top: 551px;

background: grey;
border: 1px solid #000000;
box-sizing: border-box;
}

.aplicativo{
position: absolute;
width: 113px;
height: 16px;
left: 500px;
top: 345px;
}

.Semconta {
position: absolute;
width: 178px;
height: 16px;
left: 870px;
top: 581px;

}

.esqueceuasenha {
position: absolute;
width: 100px;
height: 16px;
left: 910px;
top: 480px;
}

.OU{
position: absolute;
width: 18px;
height: 16px;
left: 200px;
top: 200px;
}



.play{
position: absolute;
width: 132px;
height: 39px;
left: 963px;
top: 684px;

background: url(google_play.png);
}
.app{
position: absolute;
width: 133px;
height: 39px;
left: 825px;
top: 684px;

background: url(app_store.png);
}

.entrar{
position: absolute;
width: 33px;
height: 16px;
left: 300px;
top: 200px;
}

.Instadev{
position: absolute;
width: 165px;
height: 63px;
left: 800px;
top: 195px;

}

.blocos{
    position: absolute;
    width: 26px;
    height: 15px;
    left: 80px;
    top: 100px;
}